<header class='entete'>

<nav>
 <div class="logo"><i class="fab fa-hotjar" style="font-size: 25px;"></i><span>TP1 Jason Paquette</span></div>
 <div class="menu">
	 <a href='/accueil'><i class="fa fa fa-users" aria-hidden="true"></i><p>Accueil</p></a>
	 <a href='/adresses'><i class="fa fa-graduation-cap" aria-hidden="true"></i><p>Adresse</p></a>
	 <a href='/peupler'><i class="fa fa-keyboard-o" aria-hidden="true"></i><p>Peupler</p></a>
	 <a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i><p>Vider</p></a>
 </div>
 <a href='#' class="burger"><i class="fas fa-bars"></i></a>
</nav> 
 <section>
 <h1>TP1 - Jason Paquette</h1>
 <i class="fa fa-cubes fa-5x"></i>
 <h2>Node.js - Express - mongoDB et EJS</h2>
 </section>
 </header>