<header class='entete'>

<nav> 
 <a href='/accueil'><i class="fa fa fa-users" aria-hidden="true"></i><p>Accueil</p></a>
 <a href='/adresses'><i class="fa fa-graduation-cap" aria-hidden="true"></i><p>Adresse</p></a>
 <a href='/peupler'><i class="fa fa-keyboard-o" aria-hidden="true"></i><p>Peupler</p></a>
 <a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i><p>Vider</p></a>

</nav> 
 <section>
 <i class="fa fa-cubes fa-5x"></i>
 <h1>Node.js - Express - mongoDB et EJS</h1> 
 </section>
 </header>