<footer class="footer">
 <ul>
 <li>Atelier Node.js</li>
 <li>Jason Paquette</li>
 <li><a href="https://www.cmaisonneuve.qc.ca/">Collège de Maisonneuve</a></li>
 </ul>
</footer>
<script src="/js/fichier.js"></script>